/*
Author: Neha Kelkar
Version: 1.0
*/

/*** GENERAL ***/
* { margin: 0; overflow: hidden; }

/*** NAVIGATION ***/

#web-nav {width:20%; height:100%; overflow:auto; float:left; position:fixed; left:0px; min-height:600px; background-color: #000000; background-repeat: repeat; border-right: 3px solid white}
#web-nav #menu {margin-top: 50px; color:#ffffff; text-align:right; list-style-type:none; margin-right:32px; float:right; font-size: 32px; font-family:Impact, Charcoal, sans-serif;}

.content {width:35%; height: 100%; overflow:auto; float:left; position:fixed; left: 25%; color:#000000; text-align:left;}
